* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

header {
    padding: 10%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-bar {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 300px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.auth-buttons {
    display: flex;
}

.auth-buttons button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.auth-buttons .login {
    background-color: white;
    color: #28a745;
    border: 1px solid #28a745;
}

main {
    padding: 40px;
    text-align: center;
}

.registration-section {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: inline-block;
    width: 80%;
}

.company-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.company-table th, .company-table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

.company-table th {
    background-color: #f9f9f9;
    font-weight: bold;
}

.company-table td button {
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.company-table .apply-btn {
    background-color: #007bff;
    color: white;
}

.company-table .delete-btn {
    background-color: #cccccc;
    color: black;
}


.register-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* 기존 스타일 외 추가 스타일링 */
.user-info {
    display: flex;
    align-items: center;
    margin-left: auto; /* 오른쪽으로 정렬 */
}

.user-info span {
    margin-right: 15px;
    font-weight: bold;
}

.logout-btn {
    padding: 0.5rem 1rem;
    background-color: #ff5e5e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #ff2e2e;
}

.mypage-btn {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}